#root {
  width: 100%;
  position: relative;
}

.wrapper {
  width: 100%;
}

@font-face {
  font-family: PermanentMarker-Regular;
  src: url('./../fonts/PermanentMarker-Regular.woff') format("woff"), 
  url('./../fonts/PermanentMarker-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal; }
