.me-box {
  align-self: flex-end;
}

.me-img {
  height: inherit;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  filter: brightness(120%) contrast(180%);
}
.me-img::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: -webkit-gradient(linear,left bottom,left top,from(#ffffff),color-stop(80%,transparent));
background: -webkit-linear-gradient(bottom,#ffffff,transparent 80%);
background: -moz- oldlinear-gradient(to bottom,#ffffff,transparent 80%);
background: -o-linear-gradient(bottom,#ffffff,transparent 80%);
background: linear-gradient(to top,#ffffff ,transparent 80%);
}

@media screen and (max-width: 480px) {
  .me-img {
    height: 50vh;
    padding-top: 40px;
  }
}

.grot-img {
  background-image: url('./../img/groot.png');
  height: inherit;
  background-size: 40%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  min-height: inherit;
}

@media screen and (max-width: 768px) {
  .grot-img {
    background-size: 70%;
  }
}

@media screen and (max-width: 480px) {
  .grot-img {
    height: 50vh;
  }
}