.introductory {
  position: absolute;
}


.main {
opacity: 0;
transition: 2s ease;
}

.main-enter-active  {
  opacity: 1;
}

.main-enter-done  {
  opacity: 1;
}

.main-exit-active {
  opacity: 0;
}


.wrapper-enter-active {
  animation: openPage 2s ease forwards;
}

.wrapper-exit-active {
  animation: closePage 1s ease forwards;
}

.about-screen {
  position: absolute;
  width: 100%;
}

.about-screen-enter-active {
  animation: openPage 2s ease forwards;
}

.about-screen-exit-active {
  animation: closePage 1s ease forwards;
}

.portfolio-screen {
  position: absolute;
  width: 100%;
}

.portfolio-screen-enter-active {
  animation: openPage 2s ease forwards;
}

.portfolio-screen-exit-active {
  animation: closePage 1s ease forwards;
}

.contacts-screen {
  width: 100%;
}

.contacts-screen {
  position: absolute;
  width: 100%;
}
.contacts-screen-enter-active {
  animation: openPage 2s ease forwards;
}

.contacts-screen-exit-active {
  animation: closePage 1s ease forwards;
}


.header {
  opacity: 0;
}

.header-enter-active {
animation: openHeader 1s ease forwards;
}

.header-exit-active {
  animation: closeHeader 1s ease forwards;
}

.header-enter-done {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-enter-active {
animation: openBox 1s ease forwards;
}

.portfolio-exit-active {
  animation: closeBox   1s ease forwards;
}

.portfolio-enter-done {
  opacity: 1 !important;
}

.about-enter-active {
  animation: openBox 1s ease forwards;
}

.about-exit-active {
  animation: closeBox 1s ease forwards;
}

.about-enter-done {
  opacity: 1 !important;
}

.contacts {
  opacity: 0;
}

.contacts-enter-active {
  animation: openBox 1s ease forwards;
}

.contacts-exit-active {
  animation: closeBox 1s ease forwards;
}

.contacts-enter-done {
  opacity: 1 !important;
}


@keyframes openBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes closeBox {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@keyframes closeHeader {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes openHeader {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes closePage {
  from {
    opacity: 1;
    position: absolute;
  }
  to {
    position: absolute;
    opacity: 0;
  }
}
@keyframes openPage {
  0% {
    opacity: 0;
    position: absolute;
  }
  50% {
    opacity: 0;
    position: absolute;
  }
  100% {
    opacity: 1;
    position: absolute;
  }
}
.portfolio__item {
  opacity: 0;
}

.portfolio__item-enter-active {
animation-name: bounceIn;
animation-duration: .5s;
animation-timing-function: ease;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: forwards;
animation-play-state: running;
}

  .portfolio__item-enter-done {
    opacity: 1;
  }

  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

/* .mainInfo {
  transform: translateY(-100%);
  opacity: 0;
  transition: .5s ease;
}

.mainInfo-enter-active {
 transform: translateY(0);
 opacity: 1;
}
.mainInfo-enter-done {
 transform: translateY(0);
 opacity: 1;
} */

.me-img {
  opacity: 0;
  transform: translateX(100%);
  transition: .5s .5s ease;
}

.me-img-enter-active {
  transform: translateX(0);
  opacity: 1;
 }
 .me-img-enter-done {
  transform: translateX(0);
  opacity: 1;
 }

.contacts__item {
opacity: 0;
}

 .contacts__item-enter-active {
  animation-duration: .2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  }

  .contacts__item-enter-done {
    opacity: 1;
  }

  @keyframes backInDown {
    0% {
      -webkit-transform: translateY(-300px) scale(0.7);
      transform: translateY(-300px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateY(0px) scale(0.7);
      transform: translateY(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes backInLeft {
    0% {
      -webkit-transform: translateX(-300px) scale(0.7);
      transform: translateX(-300px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateX(0px) scale(0.7);
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes backInRight {
    0% {
      -webkit-transform: translateX(300px) scale(0.7);
      transform: translateX(300px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateX(0px) scale(0.7);
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes backInUp {
    0% {
      -webkit-transform: translateY(300px) scale(0.7);
      transform: translateY(300px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateY(0px) scale(0.7);
      transform: translateY(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

  .title-socials {
    transform: translateX( -300px);
    transition: .5s ease;
  }

  .title-socials-enter-active {
    transform: translateX(0);
  }

  .title-socials-enter-done {
    transform: translateX(0);
  }

  .grot-img {
    transition: .5s ease;
    transform: translateX(-100%);
    opacity: 0;
  }

  .grot-img-enter-active {
    transform: translateX(0);
    opacity: 1;
  }

  .grot-img-enter-done {
    transform: translateX(0);opacity: 1;
  }

  .skills__item {
    opacity: 0;
    transform: scale(.5);
    transition: .3s ease;
  }

  .skills__item-enter-active {
    opacity: 1; 
    transform: scale(1.5);
  }

  .skills__item-enter-done {
    opacity: 1;
    transform: scale(1);
  }

.form{
  opacity: 0;
  transition: 1s ease;
}

.form-enter-active {
  opacity: 1;
}

.form-enter-done {
  opacity: 1;
}

.expo {
  width: 1vw;
  height: 1vh;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s;
}

.expo__container {
  transform: translateX(-100%);
  transition: .5s;
}
.expo-enter-active {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 1;
}

.expo-enter-active .expo__container{
  
  transform: translateX(0%);
}

.expo-exit-active {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 1;
}

.expo-exit-done {
  width: 1vw;
  height: 1vh;
  opacity: 0;
  z-index: -1;
}

.expo-exit-active .expo__container {
  transform: translateX(-100%);
}

.expo-enter-done {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 1;
}

.expo-enter-done .expo__container {
  transform: translateX(0%);
}
