.technologies {
  padding: 10px 2.5% 10px 5%;
  width: 25%;
}

@media screen and (max-width: 480px){ 
  .technologies {
    width: 100%;
    text-align: center ;
    padding: 0;
  }
}

.technologies__title {
  margin-bottom: 20px;
  font-weight: bold;
}

.technologies__list {
  overflow: hidden;
  min-width: 100px;
  min-height: 300px;
}

@media screen and (max-width: 480px) {
  .technologies__list {
    min-height: 100px;
  }
}

.technologies__item {
  margin-bottom: 15px;
  text-decoration: underline teal 4px;
}
