@import './css//pageTransition.css' ;
@import './css/normalize.css';
@import './css/general.css'; 
@import './css//portfolio.css'; 
@import './css//background.css';
@import './css//website.css';
@import './css/technologies.css';
@import './css/header.css';
@import './css/burger-menu.css';
@import './css/navigation.css';
@import './css/socials.css';
@import './css/footer.css';
@import './css/introductory.css';
@import './css/about.css';
@import './css/img.css';
@import './css/randomFacts.css';
@import './css/skills.css';
@import './css/contacts.css';
@import './css/popup.css';
@import './css/expo.css';